@mixin breakpoint($point) {
  @if $point == papa-bear {
    @media (min-width: 1200px) { @content; }
  }
  @else if $point == mama-bear {
    @media (min-width: 961px) { @content; }
  }
  @else if $point == step-bear {
    @media (min-width: 721px) { @content; }
  }
  @else if $point == baby-bear {
    @media (max-width: 960px)  { @content; }
  }
  @else if $point == teenie-bear {
    @media (max-width: 480px)  { @content; }
  }
}


$pink: #EE0687;
$green1: #CEE3A5;
$green2: #73BC9D;
$green3: #338685;
$green4: #024968;


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}

body{
	font-family: Gotham;
	font-weight:200;
	color:#333;
	line-height:1.2;
}
.serifize{
	font-family: Archer;
}
/* remember to define focus styles! */
:focus {
	outline: 0;
}
body {
	line-height: 1;
	color: black;
	@include breakpoint(mama-bear){ 
	}
}
p,summary{
	color:#666;
}
ol, ul {
	list-style: none;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: separate;
	border-spacing: 0;
}
caption, th, td {
	text-align: left;
	font-weight: normal;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: "";
}
blockquote, q {
	quotes: "" "";
}

a{
	text-decoration:none;
	color:inherit;
}


/* ==============
   Grab Bag -- classes we can apply to elements so we don't have to repeat code
   ============== */

.alpha{font-size:30px;}
.beta{font-size:24px;}
.gamma{font-size:18px;}
.delta{font-size:16px;}
.epsilon{font-size:12px;}
.zeta{}
.milli{ font-size:20px;}
.micro{ font-size:11px; padding:5px 0px;}

@include breakpoint(mama-bear){ 
.alpha{font-size:36px;}
.beta{font-size:24px;}
.gamma{font-size:20px;}
.delta{font-size:16px;}
.epsilon{font-size:12px;}
.zeta{}
.milli{ font-size:24px;}
.micro{}
}